p {
    margin: 0;
}

.wrapper {
    font-family: VisueltPro;
    width: 100%;
    min-height: calc(100vh - 295px);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0px;
    padding-top: 80px;
}
.bannerWrapper {
    height: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bannerContent {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.bannerTitle {
    text-shadow: 0 0 10px rgba(34, 34, 34, 0.25);
    font-family: VisueltPro;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}
.bannerDesc {
    width: 449px;
}
.categoryWrapper {
    margin: 37px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.categoryNml {
    font-size: 16px;
    letter-spacing: 2px;
    color: #000000;
    padding: 7px 0;
    cursor: pointer;
    margin: 0 25px;
}
.categorySelected {
    border-bottom: 3px solid #7b65fd;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    color: #000000;
    padding-top: 7px;
    padding-bottom: 4px;
    cursor: pointer;
    margin: 0 25px;
}
.contentsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 35px;
    height: auto;
}
.content {
    width: 225px;
    display: flex;
    flex-direction: column;
    margin: 17px 0;
    cursor: pointer;
}
.contentImg {
    width: 225px;
    height: 225px;
    border-radius: 10px;
}
.contentInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentTitle {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    margin-top: 10px;
}
.contentUserWrapper {
    display: flex;
}
.contentUser {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.contentUserProfileImg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}
.contentUsername {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}

@media (min-width: 425px) and (max-width: 1366px) {
    .content {
        width: 256px;
    }
    .contentsWrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px 20px;
    }
    .contentImg {
        width: 256px;
        height: 256px;
    }
}

@media (max-width: 425px) {
    .wrapper {
        padding-top: 0;
        margin: 0;
    }
    .bannerWrapper {
        width: 100%;
        height: unset;
    }
    .banner {
        position: relative;
        width: 100%;
        height: auto;
    }
    .bannerTitle {
        margin: 0 0 8px 0;
    }
    .bannerDesc {
        width: 262px;
        height: auto;
    }
    .categoryWrapper {
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: left;
        margin: 0;
        box-shadow: 0 2px 4px 0 rgba(34, 34, 34, 0.25);
        overflow: scroll;
    }
    .categoryWrapper::-webkit-scrollbar {
        display: none;
    }
    .categorySelected,
    .categoryNml {
        height: calc(100% - 2px);
        display: flex;
        align-items: center;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 0 20px;
        margin: 0;
    }
    .categorySelected {
        border-bottom: 2px solid #7b65fd;
        font-weight: bold;
        font-size: 12px;
        color: #7b65fd;
        cursor: pointer;
    }
    .contentsWrapper {
        width: calc(100% - 20px);
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 15px;
        align-items: stretch;
        justify-items: center;
        margin: 16px 10px;
    }
    .content {
        width: 165px;
        margin: 0;
        justify-content: center;
    }
    .contentImg {
        width: 165px;
        height: 165px;
    }
    .bannerTitle {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
    }
}

@media (max-width: 375px) {
    .content {
        width: 155px;
    }
    .contentsWrapper {
        margin: 16px 10px;
    }
    .contentImg {
        width: 155px;
        height: 155px;
    }
}
