body{
    margin: 0;
}


@keyframes headerAnim {
    0% {
        bottom: -10px;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: -10px;
    }
}

.header{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(34, 34, 34, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #ffffff;
    
}
.logoContainer{
    width: 50%;
    display: flex;
    justify-content: center;
}
.logo{
    width: 103px;
    height: 40px;
    margin-right: 300px;
    position: relative;
    animation: headerAnim 4s infinite;
}
.textContainer{
    width: 50%;
    display: flex;
    justify-content: center;
}
.textNml{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #000000;
    text-decoration: none;
    margin: 0 20px;
}
.textBld{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    text-decoration: none;
    margin: 0 20px;
}
