body {
    position: relative;
}

.tabbar {
    position: fixed;
    bottom: 0px;
    margin: 5% auto;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 58px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 29px;
    padding: 0 30px;
    box-shadow: 0 0 10px 0 rgba(34, 34, 34, 0.25);
    background-color: #fefffe;
}

.navItem {
    width: 24px;
    height: 24px;
}
