@keyframes mainBodyAnim {
    0% {
        bottom: -30px;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: -30px;
    }
}

.wrapper {
    width: 100%;
    margin-top: 80px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: VisueltPro;
}
.contentsWrapper {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.contactBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ffffff;
    position: absolute;
}
.mainBody {
    width: 665px;
    height: 419px;
    position: relative;
    right: 100px;
    animation: mainBodyAnim 6s infinite;
}
.contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.contentTitle {
    width: 441px;
    margin: 0 0 40px 0;
}
.contentDesc {
    letter-spacing: 0.5px;
    line-height: 30px;
    color: #000000;
    text-align: right;
    font-size: 16px;
    margin-bottom: 40px;
    font-family: SpoqaHanSans;
}
.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}
.ic {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: 8px;
}
.demoButton {
    padding: 20px 45px;
    color: #7b65fd;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.exhibitionButton {
    background-color: #ff9080;
    border-radius: 16px;
    padding: 20px 45px;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}
.scrollWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 30px;
}
.scrollImg {
    width: 52px;
    height: 52px;
    object-fit: contain;
    margin-bottom: 10px;
}
.scrollDown {
    font-size: 14px;
    font-family: VisueltPro;
    letter-spacing: 3px;
    font-weight: bold;
    color: #000000;
}

.archiveWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    z-index: 0;
}
.archiveTitle {
    width: 100%;
    text-align: left;
    color: #000000;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 150px;
}
.boxScrollWrapper {
    width: 1336px;
    overflow: hidden;
    padding: 20px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.boxScrollWrapper::-webkit-scrollbar {
    display: none;
}
.boxWrapper {
    position: relative;
    left: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
    transition: all 0.2s;
}
.box {
    display: inline-block;
    border-radius: 24px;
    box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.15);
    background-color: #ffffff;
    padding: 13px 13px 32px;
    margin: 0 35px;
}
.boxImg {
    width: 238px;
    height: 299px;
    object-fit: contain;
}
.boxDesc {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}
.iconWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 52px 0 80px 0;
}
.icon {
    width: 36px;
    height: 36px;
    margin: 0 15px;
}

@media (min-width: 426px) and (max-width: 1366px) {
    .mainBody {
        width: 518px;
        height: 326px;
        right: 50px;
    }
    .contentTitle {
        width: 471px;
        height: 81px;
    }
    .contentDesc {
        margin-bottom: 60px;
    }
    .boxScrollWrapper {
        width: 1084px;
        padding: 20px 10px;
    }
    .box {
        padding: 9px 9px 13px;
        margin: 0 10px;
    }
    .box:first-child {
        margin-left: 0;
    }
    .boxImg {
        width: 238px;
        height: 299px;
    }
}

@media (max-width: 425px) {
    @keyframes mainBodyAnim {
        0% {
            bottom: -20px;
        }
        50% {
            bottom: 20px;
        }
        100% {
            bottom: -20px;
        }
    }
    .wrapper {
        margin-top: 72px;
    }
    .contentsWrapper {
        width: 100%;
        height: calc(100vh - 72px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .contactBg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .mainBody {
        width: auto;
        height: 188px;
        right: 0;
        margin: 110px 0 20px 0;
        animation: mainBodyAnim 4s infinite;
    }
    .contents {
        align-items: center;
    }
    .contentTitle {
        width: 243px;
        height: 52px;
        margin: 38px 0 0 0;
    }
    .contentDesc {
        width: 334px;
        margin: 20px 13px 0 13px;
        font-family: SpoqaHanSans;
        font-size: 13px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .scrollWrapper {
        position: static;
        margin-top: 27px;
    }
    .scrollImg {
        width: 36px;
        height: 36px;
    }
    .archiveWrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 12px; */
    }
    .archiveTitle {
        height: 31px;
        font-family: VisueltPro;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3px;
        color: #000000;
        margin: 50px 0 35px 0;
        text-align: center;
    }
    .boxScrollWrapper {
        width: 370px;
        display: flex;
        padding: 20px 0;
    }
    .boxWrapperMobile {
        position: relative;
        left: 0;
        width: fit-content;
        display: flex;
        position: relative;
        transition: all 0.3s;
    }
    .boxWrapper {
        width: 340px;
        flex-shrink: 0;
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 1fr 1fr;
        row-gap: 14px;
        column-gap: 20px;
        justify-content: center;
        margin: 0 15px;
    }
    .box {
        width: calc(100% - 16px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 8px;
        border-radius: 12px;
        margin: 0;
        box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.15);
        background-color: #ffffff;
    }
    .boxImg {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .boxDesc {
        text-align: left;
        font-family: VisueltPro;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #000000;
        margin: 6px 0 37px 3px;
    }
    .iconWrapper {
        display: flex;
        justify-content: center;
        margin: 12px 0 19px 0;
    }
}

@media (max-width: 375px) {
    .mainBody {
        margin: 36px 0 0 0;
    }
    .contentTitle {
        margin: 32px 0 0 0;
    }
    .archiveTitle {
        margin: 24px 0 20px 0;
    }
    .boxScrollWrapper {
        width: 340px;
    }
    .boxWrapper {
        width: 320px;
        grid-template-columns: 150px 150px;
        margin: 0 10px;
        column-gap: 10px;
    }
    .box {
        padding: 6px;
    }
    .boxDesc {
        margin-bottom: 30px;
    }
    .iconWrapper {
        margin: 20px 0;
    }
}
